*.swp
build_info.txt
create-docker-machine.sh
create-docker-machine4swarm.sh
.env

## python specific
*.pyc

## Terraform
.terraform
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info
terraform.tfvars

## Kubernetes
kubernetes/Charts/reddit/charts
kubernetes/Charts/reddit/requirements.lock
kubernetes/Charts/ui/tls_crt.toml
kubernetes/Charts/ui/tls_key.toml
