project                   = "reddit-application-project-id"
region                    = "europe-west1"
zone                      = "europe-west1-b"
cluster_name              = "reddit"
cluster_node_count        = 2
cluster_node_machine_type = "n1-standard-1"
