---
apiVersion: apps/v1beta2
kind: Deployment
metadata:
  name: ui
  labels:
    app: reddit
    component: ui
spec:
  replicas: 3
  selector:
    matchLabels:
      app: reddit
      component: ui
  template:
    metadata:
      name: ui-pod
      labels:
        app: reddit
        component: ui
    spec:
      containers:
        - image: advu/ui
          name: ui
          env:
            - name: POST_SERVICE_HOST
              value: post
            - name: COMMENT_SERVICE_HOST
              value: comment
            - name: ENV
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
